@use "../global" as *;

.review-section{
    background-color: #f8f8f8;
    color: #010103;
    padding: 10rem 0;
}

.review-content{
    @include FlexCol;

    &__title{
        margin: 0 auto 5rem;
        max-width: 70rem;
        text-align: center;

        h2{
            font-size: $h2-size;
            margin-bottom: 2rem;
        }

        p{
            color: #706f7b;
            font-family: Rubik,sans-serif;
            font-size: $p-size;
            line-height: 1.4;
        }
    }
}

.all-reviews{
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem;
    width: 100%;
    flex-wrap: wrap;

    @media (max-width: 1220px) {

    }

    &__box{
        background-color: #fff;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
        padding: 5.5rem;
        position: relative;
        width: 50rem;

        h2{
            font-size: $h4-size;
            margin-bottom: 2rem;
        }

        p{
            font-size: $h5-size;
            font-weight: 400;
        }

        &__name{
            display: flex;

            &__profile{
                align-items: center;
                display: flex;
                gap: 2rem;
                margin-top: 3rem;

                img{
                    border-radius: 50%;
                    height: 7rem;
                    width: 7rem;
                }

                h4{
                    font-size: $h5-size;
                }

                p{
                    font-size: $p-size;
                    font-weight: 300;
                }
            }
        }
    }

}