@use "../global/" as *;

.navbar {
  max-width: 133rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99999;
  margin: 0 auto;

  &__img {
    width: 13rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__links {
    display: flex;
    list-style: none;
    gap: 2.1rem;

    a {
      font-size: $p-size;
      font-family: $text-font;
      font-weight: 500;
      color: $text-black;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: $text-blue;
      }
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 2.5rem;
    font-size: $p-size;
    font-family: $text-font;
    font-weight: 500;
    align-items: center;

    @media (max-width: 1000px) {
      display: none;
    }

    &__sign-in {
      color: $text-black;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: $text-blue;
      }
    }

    &__register {
      background-color: $text-blue;
      color: white;
      padding: 1.5rem 3rem;
      border-radius: 3px;
      box-shadow: 0 10px 15px 0 #1f73aa;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 10px 15px 0 #1f73aa;
        background-color: #072f52;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

