@use "../global" as *;


.booking-section{
    position: relative;
    background: linear-gradient(to top, $bg-gray 20%, $bg-white 80%);
    padding-bottom: 15rem;
    padding-top: 12rem;
}

.booking-content{
    margin: 0 auto;
    margin-bottom: 10rem;

    &__box{
        background-color: $bg-white;
        background-image: url("/src/images/BookCar/bg.svg");
        background-position: center;
        width: 100%;
        padding: 4rem 4.5rem 5rem 5.5rem;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
        height: auto;
        position: relative;
        z-index: 4;
        color: white;
        border-radius: 5px;
        background-size: cover;
        @include FlexCol;
        color: $text-black;

    }

    h2 {
        font-size: $h3-size;
        font-weight: 700;
        margin-bottom: 2.7rem;
      }

      .form-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
          }
    
          @media (max-width: 630px) {
            grid-template-columns: 1fr;
          }

        &__car-type{
            display: inherit;
            flex-direction: column;

            label{
                font-size: $p-size;
                font-weight: 600;
                margin-bottom: 1.2rem;

                span{
                    margin-right: 1rem;
                }
            }

            select{
                font-size: 1.2rem;
                color: gray;
                font-family: $text-font;
                border: 1px solid #494949;
                border-radius: 5px;
                font-weight: 400;
                padding: 1.2rem 1.3rem;
                outline: none;
                border: none;
            }
        }

        b{
            color: red;
        }

        &__car-date{
            display: inherit;
            flex-direction: column;
            position: relative;

            input{
                font-size: 1.2rem;
                font-family: $text-font;
                color: #878585;
                border: 1px solid #c4c4c4;
                padding: 1rem 0.75rem;


            }

            label{
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 1.2rem;
                margin-top: 2.9rem;

                span{
                    margin-right: 1rem;
                }
            }
        }

        button{
            padding: 1.3rem 1.3rem;
            height: fit-content;
            align-self: self-end;
            border: none;
            font-family: $text-font;
            font-size: 1.8rem;
            font-weight: 500;
            color: white;
            background-color: $text-blue;
            cursor: pointer;
            transition: all 0.3s;

            &:hover{
                background-color: $text-blue-hover;
            }
        }
      }
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    padding: 1rem 1.4rem;
    margin-bottom: 1.8rem;
    border-radius: 0.8rem;
    font-size: $p-size;
    font-weight: 500;
    display: none;
}

.reservation-done {
    color: #2a6817;
    background-color: #c3fabe;
    border-color: #f5c6cb;
    padding: 1rem 1.4rem;
    margin-bottom: 1.8rem;
    margin-top: -1rem;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    font-size: $p-size;
    font-weight: 500;
  
    display: none;
    justify-content: space-between;
    align-items: center;
}


