@use "../global" as *;


.booking-section{
    position: relative;
    background-color: $bg-gray;
    padding-bottom: 15rem;
    padding-top: 12rem;
}

.booking-content{
    margin: 0 auto;
    margin-bottom: 10rem;

    &__box{
        background-color: $bg-white;
        width: 100%;
        padding: 4rem 4.5rem 5rem 5.5rem;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
        height: auto;
        position: relative;
        z-index: 4;
        color: white;
        border-radius: 5px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: $text-black;

    }

    @media (max-width: 400px) {
        padding: 4rem 2.5rem 5rem 2.5rem;
      }

    h2 {
        font-size: $h5-size;
        font-weight: 700;
        margin-bottom: 2.7rem;
      }

      .form-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem;

        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
          }
    
          @media (max-width: 630px) {
            grid-template-columns: 1fr;
          }

        &__car-type{
            display: inherit;
            flex-direction: column;

            label{
                font-size: $p-size;
                font-weight: 400;
                margin-bottom: 1.2rem;
            }

            select{
                font-size: 1.2rem;
                color: gray;
                font-family: $text-font;
                border: 1px solid #494949;
                border-radius: 5px;
                font-weight: 400;
                padding: 1.2rem 1.3rem;
                outline: none;
                border: none;
            }
        }

        b{
            color: red;
        }

        &__car-date{
            display: inherit;
            flex-direction: column;
            position: relative;

            input{
                font-size: 1.2rem;
                font-family: $text-font;
                color: #878585;
                border: 1px solid #c4c4c4;
                padding: 1rem 0.75rem;


            }

            label{
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 1.2rem;
                margin-top: 2.9rem;
            }
        }

        button{
            padding: 1.3rem 1.3rem;
            height: fit-content;
            align-self: self-end;
            border: none;
            font-family: $text-font;
            font-size: 1.8rem;
            font-weight: 500;
            color: white;
            background-color: $text-blue;
            cursor: pointer;

            &:hover{
                background-color: #0472bb;
            }
        }
      }
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    padding: 1rem 1.4rem;
    margin-bottom: 1.8rem;
    border-radius: 0.8rem;
    font-size: $p-size;
    font-weight: 500;
    display: none;
}

.reservation-done {
    color: #2a6817;
    background-color: #c3fabe;
    border-color: #f5c6cb;
    padding: 1rem 1.4rem;
    margin-bottom: 1.8rem;
    margin-top: -1rem;
    border: 1px solid transparent;
    border-radius: 0.8rem;
    font-size: $p-size;
    font-weight: 500;
  
    display: none;
    justify-content: space-between;
    align-items: center;
}

.active-modal {
    opacity: 1 !important;
    display: flex !important;
  }
  
  .modal-overlay {
    opacity: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    top: 0;
    right: 0;
  }
  
  .booking-modal {
    opacity: 0;
    display: none;
  
    flex-direction: column;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    height: 100vh;
    border: 2px solid white;
    background-color: rgba(255, 255, 255);
    color: $text-black;

    @media (max-width: 1100px) {
        width: 80%;
      }

      @media (max-width: 800px) {
        width: 100%;
      }
    
      @media (max-width: 800px) {
        top: 50%;
      }
    
    &__title {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        background-color: $text-blue;
        color: white;
        align-items: center;
    
        h2 {
          font-size: $h3-size;
          text-transform: uppercase;
        }

        span{
            cursor: pointer;
        }
    }   
    
    &__car-info{
        padding: 3rem 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid #494949;

        @media (max-width: 650px) {
            grid-template-columns: 1fr;
            text-align: center;
          }

        &__carInfo{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h5{
                font-size: 2rem;
                color: $text-blue;
            }

            h6 {
                font-size: 1.5rem;
                margin-bottom: 0.4rem;
              }
      
              p {
                font-size: $p-size;
                color: #5e5e5e;
              } 
        }

        &__model{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            h5{
                font-size: 2rem;
                color: $text-blue;
            }

            img{
                width: 100%;
                height: auto;
            }
        }

    }
    &__personalInfo{
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;

        h4{
            font-size: 1.8rem;
            text-transform: uppercase;
            color: $text-blue;
            margin-bottom: 1.4rem;
        }
    }
    
    .form{
        display: flex;
        flex-direction: column;

        &__1cols{
            display: grid;
            grid-template-columns: 1fr !important;
        }

        &__1cols, 
        &__2cols{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding: 1rem 0;

            @media (max-width: 420px) {
                grid-template-columns: 1fr;
              }
        }

      

        p{
            font-size: 1.1rem;
        }

        span {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }

        label{
            font-size: 1.5rem;
            font-weight: 500;
            color: #777;
        }

        input{
            padding: 14px 15px;
            background-color: #dbdbdb;
            color: #555;
            font-size: 1.3rem;
            outline: none;
            border: none;
        }
    }
  }

  .reserve-button{
    padding: 3rem;
    text-align: center;

    button{
        background-color: $text-blue;
        color: white;
        padding: 2rem;
        font-size: 2.4rem;
        border-radius: 6px;

        &:hover {
            background-color: #024775;
            cursor: pointer;
        }
    }
  }

  .carInfo-div{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

