@use "../global" as *;

.plan-section{
    padding-bottom: 100px;
    padding-top: 40px;
}

.plan-container{
    @include FlexCol;

    &__title{
        color: #010103;
        margin: 0 auto;
        text-align: center;
    }

    h3{
        font-family: $text-font;
        font-size: 2.4rem;
        font-weight: 500;
    }

    h2{
        font-family: Poppins,sans-serif;
        font-size: 4.2rem;
        margin: 1.3rem 0 3rem;
    }

    &__boxes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 6rem;
        padding: 0 3rem;

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
        }

        &__infoBox{
            padding: 1rem 6rem;
            text-align: center;

            @media (max-width: 360px) {
                padding: 2rem;
            }

            img{
                width: 10rem;
                height: auto;
            }

            h3 {
                font-size: $h3-size;
                margin-bottom: 1rem;
            }
        
            p {
                font-size: $p-size;
                font-family: $text-font;
                color: $text-gray;
                line-height: 1.43;
            }
        }
    }
}