@use "../global" as *;

.scrollTop{
    position: fixed;
    top: 95%;
    right: 2%;
    z-index: 20;

    button{
        background-color: $text-blue;
        color: #f1f1f1;
        padding: .8rem 1.4rem;
        border-radius: 0.3rem;
        transition: all 0.3s;

        &:hover{
            cursor: pointer;
        }
    }
}

.visible{
    opacity: 1;
}

.not-visible{
    opacity: 0;
}